DATABASE_URL="postgresql://postgres.vlwkethxhavwqmgqjrxq:<password>@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"


DIRECT_URL="postgresql://postgres.vlwkethxhavwqmgqjrxq:<password>!@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
AUTH_SECRET="SECRET_KEY"

NEXTAUTH_URL=http://localhost:3000

AUTH_TRUST_HOST=true

NEXT_PUBLIC_SUPABASE_URL= URL
NEXT_PUBLIC_SUPABASE_ANON_KEY= YOUR KEY

GEMINI_API_KEY= GEMINI_KEY

# Admin Account Seed Credentials
SEED_ADMIN_EMAIL="trilink.narenn@gmail.com"
SEED_ADMIN_NAME="Admin_Maharjan"
SEED_ADMIN_PASSWORD="Admin123!"

# Gmail SMTP Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="trilink.narenn@gmail.com"
SMTP_PASS=ddmy ivnz pigt husk
SMTP_FROM="Kanban Task Board <trilink.narenn@gmail.com>"
NEXT_PUBLIC_APP_URL="http://localhost:3000"


 
# Google OAuth
AUTH_GOOGLE_ID="your-google-client-id.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="your-google-client-secret"
